.layout-column {
  background-color: #dadadb54;
  margin-bottom: 10px;
  min-height: 100px;
  padding: 10px;
  position: relative;
}

.add-row {
  background-color: rgb(250, 250, 250);
  margin: 5px;
  min-height: 50px;
}

.panel-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

/*CSS Field*/
.field-row {
  padding: 5px;
}

.field-row.ui.segment {
  margin: 0px;
}

.field-row .fieldinput {
  width: 100%;
  height: 38px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  outline: 0;
  border-radius: 6px;
  padding: 6px 9px;
  font-size: 15px;
  margin: 0;
}

.field-row .fieldselect {
  width: 100%;
  max-width: 100%;
  height: 38px;
  display: flex;
  flex-direction: column;
  outline: 0;
  border-radius: 6px;
  padding: 6px 9px;
  font-size: 15px;
  margin: 0;
  line-height: 1;
}

.field-row .fieldbutton {
  cursor: pointer;
  color: rgb(65, 153, 253);
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgb(188, 224, 253);
}

.codex-range {
  width: 90%;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  border-radius: 6px;
  padding: 6px 9px;
  color: rgba(3, 62, 121, 0.85);
  font-size: 14px;
  margin: 0;
  line-height: 1;
}

.fieldcheckbox {
  width: 97%;
  height: 25px;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  border-radius: 6px;
  padding: 6px 9px;
  border-color: rgba(40, 47, 54, 0.2);
  color: rgba(40, 47, 54, 0.85);
  font-size: 14px;
  margin: 0;
  line-height: 1;
}

.field-row .fielddatetime {
  width: 100%;
  height: 38px;
  outline: 0;
  border-radius: 6px;
  padding: 6px 9px;
  font-size: 15px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  line-height: 1;
}

.field-row .fieldimage {
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: column;
  outline: 0;
  border-radius: 6px;
  font-size: 15px;
  margin: 0;
  line-height: 1;
}

.field-row .fielddivider {
  width: 100%;
  size: 3;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #888;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 15px 20px;
  position: relative;
}

.codex-google-map iframe {
  max-width: 100%;
  max-height: 220px;
}

.ui-checkbox {
  margin-right: 10px;
  padding-top: 10px;
}

/*End*/

.field-panel {
  width: 100%;
}

.field_over {
  background: #a2e1e7;
  height: 5px;
  border-radius: 5px;
}

/* Delete Field */

.delete-field {
  display: none;
  position: absolute;
  right: 5px;
  cursor: pointer;
  top: 0px;
  color: rgb(216 49 49);
}

.field-row:hover .delete-field {
  display: block;
}

/* Duplicate Field */

.config-field {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 35px;
  color: rgb(48 14 101);
}

.field-row:hover .config-field {
  display: block;
}

/*Hover Field in panel Effects*/

.field-row.ui.segment:hover {
  border: 2px solid transparent;
  border-color: rgb(65, 153, 253);
  transition: 0.5s border-color ease-in-out;
}

/* Join Column */

.join-column {
  left: -12px;
}

.tools-column {
  position: absolute;
  top: -20px;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: 0.2s;
}

.saving span:nth-child(3) {
  animation-delay: 0.4s;
}

